doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    != LRScript
    
    script(type='text/javascript', src='js/jquery.min.js', attr)
    
  body
    block content
